
<article class="sidebar">
              <h1 class="sidebar-title">Vision</h1>
              <p>Our vision is to provide the quality services to our clients. We are committed and maintain values by providing quality services to our client.</p>
</article><!-- article -->
<article class="sidebar">
            <h1 class="sidebar-title">Mission</h1>
            <ul class="sidebar-body">
              <li>The primary goal of Lakshya is <q>Total client satisfaction.</q></li>
                <li>Building a great team with professionals who always aim for learning new things and trying to change the world..</li>
                <li>Not only just client satisfaction, but also the employees happiness too. We provide them opportunities to grow, learn, and achieve the personal as well professional goals.</li>
            </ul>
</article><!-- article -->