

	<!--#footer bottom-->
	<div class="col-lg-12 maps">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.4373058258066!2d80.63260670579068!3d16.504006003960686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35faa835125a2f%3A0xf1e4bd587a215233!2sLakshya+IT+Consulting+Pvt.+Ltd!5e0!3m2!1sen!2sin!4v1482995350576" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<footer id="footer">	
		<div class="footer-top" data-aos="fade-down" data-aos-duration="1000">
			<div class="container text-center">
				<!--	<div class="footer-logo">
						<img class="img-responsive" id="footer-logo" src="/images/logo.png" alt="Lakshya" style="margin:0 auto;">
					</div> -->
				<!--<div class="row">
					<div class="social-icons col-centered">		                  
					<div class="col-xs-4">	<a class="facebook" href="https://www.facebook.com/Lakshya-Enterprises-813606395387768/">Facebook<i class="fa fa-facebook-official"></i></a></div>
					<div class="col-xs-4">	<a class="linkedin" href="https://www.linkedin.com/in/lakshya-it-consulting-164350128/">LinkedIn<i class="fa fa-linkedin-square"></i></a></div>
					<div class="col-xs-4">	<a class="google-plus" href="https://plus.google.com/u/0/114746191467956753248">Google-Plus<i class="fa fa-google-plus"></i></a></div>
					</div>
				</div>-->
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container-fluid">
				<div class="row">
					<div class="pull-right">
					    <p> All rights reserved by &copy; Lakshya IT Consulting Pvt. Ltd.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!--#footer bottom-->