
          <div class="maincontent">

            <article class="article">
              <h1 class="article-title">Who are we?</h1>
                <p class="text1"><b>Lakshya</b> has built a valuable space among the customers heart mover the time. We are proud to say that <q><b>Lakshya</b> is a customer oriented company</q>.<b>We</b> invests time in two ways one in recruiting a right talent and second to execute the product. </p>

                <p class="text1">Our Services includes Application development and Support, Maintenance, Application testing, Designing and Implementation.</p>

                <p class="text1">We are very sure that our products bring value to our customers business and positive impact on their business needs. As we conveyed earlier, Lakshya is customer centric.</p>
            </article><!-- article -->

            <article class="article">
              <h1 class="article-title">Team</h1>
              <p class="text1">Lakshya is the team of hardworking and enthusiastic employees like Developers who loves coding hardly, designers who loves designing greatly and others like architects, leads etc.</p>
              <p class="text1">Management of Lakshya always support their employees just like how we respect our customer. We are bound to deliver the customer project with quality and support our employee with happiness.</p>
            </article><!-- article -->

          </div>