
 <header>
    <div class="pull-right social">
      <a class="facebook" href="https://www.facebook.com/Lakshya-Enterprises-813606395387768/">Facebook</a> | 
      <a class="linkedin" href="https://www.linkedin.com/in/lakshya-it-consulting-164350128/">LinkedIn</a> | 
      <a class="google-plus" href="https://plus.google.com/u/0/114746191467956753248">Google-Plus</a>
    </div>
    </div>
      <div class="jumbotron">
        <img src="/images/logo_copy_min.png" style="float:left;" class="img-responsive logo-image animated bounceInDown" width="10%">
        
          <h1 class="wow fadeInDown">Lakshya IT Consulting Private Limited</h1>
       
      </div><!-- jumbotron -->

      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a href="/" class="navbar-brand"></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/" class="link-1"><span><i class="fa fa-home" aria-hidden="true"></i></span> Home</a></li>
              <li><a href="/aboutus" class="link-1">About Us</a></li>
                <li><a href="/speakers" class="dropdown-toggle link-1" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"><span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/services" class="link-1 dropdown">Our Services</a></li>
                    <li role="separator" class="divider"></li>
                     <% allSpeakers.forEach(function(item){ %>
                      <li><a href="/services/<%= item.shortname %>" class="link-1 dropdown"> <%= item.title %> </a></li>
                    <% }); %>
                  </ul>
              </li>
              <!--<li><a href="/technologies">Technologies</a></li>-->
              <li><a href="/contact" class="link-1">Contact Us</a></li>
              <li><a href="/careers" class="link-1">Careers</a></li>
            </ul><!-- nav -->
          </div><!-- navbar-collapse -->
        </div><!-- container -->
      </nav>
    </header>
