<!DOCTYPE html>
<html>
  <head>
      <% include partials/template/head.ejs %>
   </head>

  <body id="<%= pageId %>">

  <% include partials/template/header.ejs %>
  <% include partials/content/speakerslist.ejs %>
  
    
  <% include partials/template/jsdefaults.ejs %>
 
  </body>
</html>
