
<!DOCTYPE html>
<html>
  <head>
      <% include partials/template/head.ejs %>
   </head>

  <body id="<%= pageId %>">

    <% include partials/template/header.ejs %>
   
    <!--#technologies-->	
	 <div class="container-fluid protfolio text-center parallax" id="technologies" data-aos="fade-down" data-aos-duration="1000">
	 	<div class="page-header">
 	 	  	<h2>Technologies</h2>
 	 	 </div>
 	 	 	<div class="col-xs-12">
		 	 	 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		 	 		 <h3>Web Technologies</h3>
					      		<div id="myCarousel" class="carousel slide" data-ride="carousel"  data-aos="flip-down" data-aos-duration="1500">
									  <!-- Indicators -->
									 <!-- <ol class="carousel-indicators">
									    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									    <li data-target="#myCarousel" data-slide-to="1"></li>
									    <li data-target="#myCarousel" data-slide-to="2"></li>
										<li data-target="#myCarousel" data-slide-to="3"></li>
									    <li data-target="#myCarousel" data-slide-to="4"></li>
									    <li data-target="#myCarousel" data-slide-to="5"></li>
									    <li data-target="#myCarousel" data-slide-to="6"></li>
									    <li data-target="#myCarousel" data-slide-to="7"></li>
										<li data-target="#myCarousel" data-slide-to="8"></li>
									  </ol>-->

									  <!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox" style="display:inline-block;">
									    <div class="item active">
										    <img src="/images/main/mean.png" id="image" class="img-responsive image" alt="Angular JS" style="display:inline-block;">
		                         		</div>
										<div class="item">
										    <img src="/images/main/angularjs_tn.png" id="image" class="img-responsive image" alt="Angular JS" style="display:inline-block;">
		                         		</div>
									     <div class="item">
		                         			<img src="/images/main/bootstrap.png" id="image" class="img-responsive image" alt="Bootstrap">
		             				    </div>
									    <div class="item">
									    	<img src="/images/main/jquery.png" id="image" class="img-responsive image" alt="jQuery">
									    </div>
									    <div class="item">
									    	<img src="/images/main/javascript.png" id="image" class="img-responsive image" alt="JavaScript">
									    </div>
									    <div class="item">
									    	<img src="/images/main/html.png" id="image" class="img-responsive image" alt="HTML5">
									    </div>
									    <div class="item">
									    	<img src="/images/main/css.png" id="image" class="img-responsive image" alt="CSS3">
									    </div>
									    <div class="item">
									    	<img src="/images/main/photoshop.png" id="image" class="img-responsive image" alt="Photoshop">
									    </div>
									    <div class="item">
									    	<img src="/images/main/illustrator.png" id="image" class="img-responsive image" alt="Illustrator">
									    </div>
									</div>
		 	 	 	 			</div>
		 	 	 </div>
	    	 	 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		 	 	  		<h3>Mobile Technologies</h3>
					      		<div id="myCarousel1" class="carousel slide" data-ride="carousel" data-aos="flip-up" data-aos-duration="1500">
									  <!-- Indicators -->
									<!--  <ol class="carousel-indicators">
									    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
									    <li data-target="#myCarousel1" data-slide-to="1"></li>
									    <li data-target="#myCarousel1" data-slide-to="2"></li>
										<li data-target="#myCarousel1" data-slide-to="3"></li>
									    <li data-target="#myCarousel1" data-slide-to="4"></li>
									    <li data-target="#myCarousel1" data-slide-to="5"></li>
									    <li data-target="#myCarousel1" data-slide-to="6"></li>
									    <li data-target="#myCarousel1" data-slide-to="7"></li>
									    <li data-target="#myCarousel1" data-slide-to="8"></li>
									  </ol>-->

									  <!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">
									    <div class="item active">
										    <img src="/images/main/android.png" id="image" class="img-responsive image" alt="Android">
		                         		</div>
									     <div class="item">
		                         			<img src="/images/main/windows.png" id="image" class="img-responsive image" alt="Windows">
		             				    </div>
									    <div class="item">
									    	<img src="/images/main/ios.png" id="image" class="img-responsive image" alt="iOS">
									    </div>
									    <div class="item">
									    	<img src="/images/main/blackberry.png" id="image" class="img-responsive image" alt="BlackBerry">
									    </div>
									    <div class="item">
									    	<img src="/images/main/phonegap.png" id="image" class="img-responsive image" alt="Phonegap">
									    </div>
									    <div class="item">
									    	<img src="/images/main/sqllite.png" id="image" class="img-responsive image" alt="Sqllite">
									    </div>
									    <div class="item">
									    	<img src="/images/main/objective-c.png" id="image" class="img-responsive image" alt="Objective-C">
									    </div>
									    <div class="item">
									    	<img src="/images/main/xcode.png" id="image" class="img-responsive image" alt="Xcode">
									    </div>
									    <div class="item">
									    	<img src="/images/main/sencha.png" id="image" class="img-responsive image" alt="Sencha">
									    </div>									    
									</div>
		 	 	 	 	 	 	</div>
		 	 	 </div>
		 	 	 </div>
		 	 	 <div class="col-xs-12">
		 	 	  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		 	 	  <h3>ERP Solutions</h3>
					      		<div id="myCarousel2" class="carousel slide" data-ride="carousel" data-aos="flip-down" data-aos-duration="1500">
									  <!-- Indicators -->
									<!--  <ol class="carousel-indicators">
									    <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
									    <li data-target="#myCarousel2" data-slide-to="1"></li>
									    <li data-target="#myCarousel2" data-slide-to="2"></li>
									  </ol>-->

									  <!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">
									    <div class="item active">
										    <img src="/images/main/sap.png" id="image" class="img-responsive image" alt="Angular JS">
		                         		</div>
									     <div class="item">
		                         			<img src="/images/main/oracle.png" id="image" class="img-responsive image" alt="Bootstrap">
		             				    </div>
									    <div class="item">
									    	<img src="/images/main/ms-dynamics.png" id="image" class="img-responsive image" alt="MS-Dyanamics">
									    </div>
									</div>
						 	 	 </div>
		 	 	 </div>
		 	 	  
		 	 	  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		 	 	  <h3>Corporate Training</h3>
					      		<div id="myCarousel3" class="carousel slide" data-ride="carousel" data-aos="flip-up" data-aos-duration="1500">
									  <!-- Indicators -->
									 <!-- <ol class="carousel-indicators">
									    <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
									    <li data-target="#myCarousel3" data-slide-to="1"></li>
									    <li data-target="#myCarousel3" data-slide-to="2"></li>
										<li data-target="#myCarousel3" data-slide-to="3"></li>
									    <li data-target="#myCarousel3" data-slide-to="4"></li>
									    <li data-target="#myCarousel3" data-slide-to="5"></li>
									    <li data-target="#myCarousel3" data-slide-to="6"></li>
									  </ol>-->

									  <!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">
									    <div class="item">
									    	<img src="/images/main/html.png" id="image" class="img-responsive image" alt="HTML5">
									    </div>
   									    <div class="item">
									    	<img src="/images/main/css.png" id="image" class="img-responsive image" alt="CSS3">
									    </div>
									    
									    <div class="item">
									    	<img src="/images/main/javascript.png" id="image" class="img-responsive image" alt="JavaScript">
									    </div>
									     <div class="item">
		                         			<img src="/images/main/bootstrap.png" id="image" class="img-responsive image" alt="Bootstrap">
		             				    </div>
									    <div class="item">
									    	<img src="/images/main/jquery.png" id="image" class="img-responsive image" alt="jQuery" align="center">
									    </div>
									    <div class="item active">
										    <img src="/images/main/angularjs_tn.png" id="image" class="img-responsive image" alt="Angular JS">
		                         		</div>
									    <div class="item">
									    	<img src="/images/main/mean.png" id="image" class="img-responsive image" alt="Android">
									    </div>
									</div>
		 	 			 	 </div>
		 	 			</div>
		 	 		</div>
		</div>
	 </div> 

    
      <% include partials/template/jsdefaults.ejs %>
   
  </body>
</html>

